[Unit]
Description=LibreX - A privacy respecting free as in freedom meta search enginei
After=syslog.target
After=network.target

[Service]
RestartSec=10s
Type=simple

User=librex
Group=librex

WorkingDirectory=/path/to/librex
ExecStart=/path/to/librex/auto_updater.sh

Restart=always

[Install]
WantedBy=multi-user.target
