<?xml version="1.0" encoding="utf-8"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/">
  <ShortName>LibreX</ShortName>
  <Description>Framework and javascript free privacy respecting meta search engine</Description>
  <InputEncoding>UTF-8</InputEncoding>
  <LongName>LibreX search</LongName>
  <Url rel="results" type="text/html" method="get" template="http://localhost:80/search.php?q={searchTerms}" />
  <Url type="application/opensearchdescription+xml"
      rel="self"
      template="/opensearch.xml?method=GET" />
</OpenSearchDescription>
