:root {
    --main-bg: #2f3136;
    --main-fg: #dcddde;

    --result-link-fg: #747ff4;
    --result-fg: #dcddde;

    --button-bg: #36393f;

    --special-result-border: opacity 0;
    --special-text-background: #36393f;
    --special-text-color: #dcddde;

    --search-container-text-color: #dcddde;
    --search-container-background-color:  #282b30;
    --search-container-background-border: opacity 0;

    --search-form-background-color: #36393f;

    --border: opacity 0;

    --footer-fg: #dcddde;
    --footer-bg: #36393f;

    color-scheme: dark;
}
