:root {
    --main-bg: #202124;
    --main-fg: #F1F3F4;

    --result-link-fg: #8AB4F8;
    --result-fg: #BABCBE;

    --button-bg: #303134;

    --special-result-border: #3c4043;
    --special-text-background: #202124;
    --special-text-color: #F1F3F4;

    --search-container-text-color: #F1F3F4;
    --search-container-background-color: #303134;
    --search-container-background-border: #3C4043;

    --search-form-background-color: #202124;

    --border: #3c4043;

    --footer-fg: #BABCBE;
    --footer-bg: #171717;

    color-scheme: dark;
}
