:root {
    --main-bg: #ffffff;
    --main-fg: #000000;

    --result-link-fg: #1a0dab;
    --result-fg: #202124;

    --button-bg: #f6f6f6;

    --special-result-border: #dadce0;
    --special-text-background: #ffffff;
    --special-text-color: #000000;

    --search-container-text-color: #000000;
    --search-container-background-color: #f6f6f6;
    --search-container-background-border: #dadce0;

    --search-form-background-color: #ffffff;

    --border: #dadce0;

    --footer-fg: #353535;
    --footer-bg: #f6f6f6;
}
