:root {
    --main-bg: #3B4252;
    --main-fg: #E5E9F0;

    --result-link-fg: #88C0D0;
    --result-fg: #D8DEE9;

    --button-bg: #4C566A;

    --special-result-border: opacity 0;
    --special-text-background: #4C566A;
    --special-text-color: #E5E9F0;

    --search-container-text-color: #E5E9F0;
    --search-container-background-color:  #2E3440;
    --search-container-background-border: opacity 0;

    --search-form-background-color: #4C566A;
    
    --border: opacity 0;

    --footer-fg: #D8DEE9;
    --footer-bg: #2E3440;

    color-scheme: dark;
}
