:root {
    --main-bg: #fff;
    --main-fg: #202124;

    --alt-fg: #bd93f9;

    --result-link-fg: #1a0dab;
    --result-fg: #70757a;

    --button-bg: #f2f2f2;

    --special-result-border: #bdc1c6;

    --footer-fg: #70757a;
    --footer-bg: #f2f2f2;
}