:root {
    --main-bg: #011627;
    --main-fg: #d6deeb;

    --alt-fg: #bd93f9;

    --result-link-fg: #5f7e97;
    --result-fg: #d6deeb;

    --button-bg: #122d42;

    --special-result-border: #d6deeb;

    --footer-fg: #d6deeb;
    --footer-bg: #011627;
}