html {
    color: #e8eaed;
    background-color: #202124; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input, 
button {
    outline: none;
}

button {
    cursor: pointer;
}

p {
    font-size:18px;
    color: #999da2;
}

a,
.text-result-wrapper a:hover {
    text-decoration: none;
}

a:hover, .text-result-wrapper h2:hover {
    text-decoration: underline;
}

.search-container {
    text-align: center;
    margin-top:15%;
}

.search-container h1 {
    font-size: 70px;
}

.search-container input,
.sub-search-container input {
    width: 500px;
    color: inherit;
    background-color: inherit;  
    padding: 10px;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #5f6368;
    border-radius: 25px;
}

.search-button-wrapper button {
    color: inherit;
    background-color: #303134;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    padding: 13px 10px 13px 10px;
    margin: 30px 60px 0px 60px;
}

.sub-search-container {
    margin: 2%;
}

.sub-search-container hr {
    margin-top: 35px;
    margin-bottom: 35px;
}

.sub-search-container input {
    margin-bottom: 40px;
    width: 600px;
}

.sub-search-container #logo {
    vertical-align: middle;
    margin-right: 50px;
}

.sub-search-button-wrapper {
    margin-left: 150px;
}

.search-button-wrapper button:hover { 
    border: 1px solid #5f6368;
    cursor: pointer;
}

.sub-search-button-wrapper img {
    vertical-align: middle;
    margin-right: 10px;
}

.sub-search-button-wrapper button {
    border: none;
    background-color: inherit;
    color: #bd93f9;
    font-size: 18px;
    margin-right: 25px;
}

.text-result-container,
#time,
.next-page-button-wrapper {
    margin-left:10%;
}

.text-result-container
{
    margin-bottom:100px;
}

.special-result-container {
    padding: 10px;
    border: 1px solid #bdc1c6;
    width: 500px;
}

.text-result-wrapper {
    max-width: 500px;
    word-wrap: break-word;
    margin-top: 35px;
}

.text-result-wrapper a {
    font-size: 14px;
    color:#bdc1c6;
}

.text-result-wrapper h2 {
    font-size: 20px;
    color: #8ab4f8;
    padding-top: 5px;
    margin-top: 1px;
}

.special-result-container a {
    display: flex;
    margin-top: 10px;
    color: #bd93f9;
    font-size:14px;
}

.next-page-button-wrapper {
    margin-top:-50px;
    margin-bottom:100px;
}

.next-page-button-wrapper button {
    border:none;
    background-color: inherit;
    color: #8ab4f8;
    font-size: 18px;
}

.next-page-button-wrapper #page {
    display: inline;
}

.image-result-container {
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.image-result-container img {
    margin: 10px;
    border: 1px solid #5f6368;
}

.donate-container {
    text-align: center;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    border: 1px solid #bdc1c6;
    max-width: 500px;
    padding:0px 20px 20px 20px;
}

.donate-container img {
    margin-top:10px;
}

.donate-container a {
    color: #bd93f9;
}

.footer-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #171717;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #303134;
    text-align: center;
}

.footer-container a {
    color: #999da2;
    margin-left: 15px;
    margin-right: 15px;
}

/* mobile view */
@media only screen and (max-width: 900px) { 
    .search-container input {
        width: 80%;
    }

    .search-button-wrapper button {
        display: table-row;
        margin: 30px 0px 0px 0px;
        width: 80%;
    }

    .footer-container a {
        margin:10px;
    }

    .sub-search-container {
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }

    .sub-search-container #logo {
        margin-left:auto;
        margin-right:auto;
        display: block;
        
    }

    .sub-search-container input {
        width: 80%;
        margin-top:30px;
    }

    .sub-search-button-wrapper {
        margin:0;
        padding:0;
        display: flex;
        
    }

    .sub-search-button-wrapper img {
        margin:0;
        padding:0;
        margin-bottom:20px;
    }

    .sub-search-button-wrapper button {
        margin-left:auto;
        margin-right:auto;
        padding:0;
       
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .special-result-container {
        max-width: 80%;
    }

    .donate-container {
        max-width: 80%;
    }

    .donate-container img {
        display: block;
        margin-left:auto;
        margin-right:auto;
    }

    .image-result-container img {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}