html {
    color: #e8eaed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
} 

body { 
    background-color: #202124; 
    margin: 0;
    padding: 0;
}

hr { margin: 30px 0px 30px 0px; }

iframe {
    width: 100%;
    height: 100vh;
}

img { padding:15px; } 

.search-container {
    text-align: center;
    margin-top:13%;
}

.search-container input , .small-search-container input {
    padding:10px;
    font-size: 16px;
    border:1px solid #5f6368;
    border-radius: 25px;
    color: inherit;
    background-color: inherit;
}

.search-container input { width: 520px; }

.small-search-container input { 
    width: 600px;
    margin-left:-10px;
}  

.search-container input:hover, .small-search-container input:hover { 
    background-color: #303134;
    border-color: #303134;
}

.search-container input:focus , .small-search-container input:focus {  outline: none; }

.search-container h1 { font-size:70px; }

.search-container button {
    background-color: #303134;
    border:none;
    border-radius: 4px;
    color:inherit;
    padding:13px 10px 13px 10px;
    margin-top:30px;
    font-size: 14px;
    margin-left:20px;
}

.search-container button:hover { 
    border: 1px solid #5f6368;
    cursor:pointer;
}

.info-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color:#171717;
        font-size:15px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top:1px solid #303134;
}

.info-container a , p {
    color:#999da2;
    text-decoration: none;
}

.info-container a { 
    padding-left: 25px; 
    font-size:16px;
}

.info-container #right { float:right; }

.info-container a:hover { text-decoration: underline; }

.small-search-container h1, a {
    display: inline;
    margin-right:40px;
    color:inherit;
    text-decoration: none;
}

.small-search-container { margin:2%; }  

.result-container, #time, #special-result {
    margin-left:10%;
}

.result-container {
    max-width: 550px;
    margin-top: 30px;
}

.result-container span { font-size: 15px; }

.result-container a {
    font-size: 14px;
    color:#bdc1c6;
    text-decoration: none;
}

.result-container h2 {
    font-size: 20px;
    color:#8ab4f8;
    padding-top:5px;
    margin-top:1px;
}

.result-container h2:hover { text-decoration: underline; }

#special-result {
    padding:10px;
    border: 1px solid #bdc1c6;
    width:500px;
}

.page-container {
    margin-top:50px;
    margin-bottom:50px;
    margin-left:15%;
}

.page-container #page { display: inline; }

.page-container #page button { 
    padding-right: 10px;
    background-color: inherit;
    font-size: 16px;
    color:#8ab4f8;
    border: none;
}

.page-container #page button:hover {
    cursor:pointer;
    text-decoration: underline;
} 

.result_change button {
    color:#c58af9;
    background-color: inherit;
    border:none;
    text-decoration: underline;
    display: inline;
    margin:20px 0px 0px 0px;
    font-size: 18px;
}

.result_change { margin-left: 11%;}

.result_change button:hover { cursor: pointer; }

.donate-container {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 13%;
    border: 1px solid #bdc1c6;
    border-top: none;
    border-bottom: none;
    text-align: center;
}

.donate-container a {
    color:#8ab4f8;
    text-decoration: underline;
}